@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../node_modules/@mdxeditor/editor/dist/style.css';

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 204 16% 18%;
    --card: 210 9% 96%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 359 88% 37%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 240 9% 13%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 210 9% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --success: 168 67% 53%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 4 85% 31%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --success: 127 45% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .spinner {
    @apply w-[85px] h-[85px] rounded-full inline-block border-4 border-spinner animate-spinner
  }

  .page-spinner {
    @apply w-[200px] h-[200px] border-[10px]
  }

  .q-card{
    @apply transition-transform lg:hover:scale-105
  }

  section{
    @apply py-6 lg:py-12
  }

  h1.title{
    @apply mb-6 lg:mb-12 text-center text-4xl lg:text-5xl font-extrabold
  }

  .text-second{
    @apply text-gray-500 dark:text-gray-400 font-medium
  }
}

.q-editor-markdown h1 {
  font-size: 2.25em;
  font-weight: 800;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.q-editor-markdown h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.q-editor-markdown h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.q-editor-markdown ol {
  list-style: auto;
  padding-left: 1.625em
}
.q-editor-markdown ul {
  list-style: outside;
  padding-left: 1.625em
}
.q-editor-markdown li {
  padding-left: 0.625em
}
.q-editor-markdown a {
  text-decoration: underline;
  cursor: pointer
}
.q-editor-markdown blockquote {
  font-weight: 500;
  font-style: italic;
  border-left-width: 0.25rem;
  border-left-color: #e5e7eb;
  padding-left: 1em;
}
.q-editor-markdown code {
  background-color: hsl(210 16.7% 97.6%);
  color: hsl(322 75% 46%);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.mdxeditor-popup-container button {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
.q-editor-markdown, .mdxeditor-toolbar svg{
  color: hsl(var(--foreground));
}
.mdxeditor-toolbar {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
.mdxeditor-popup-container {
  display: none
}
.mdxeditor-popup-container:has(div) {
  display: block
}
