@import 'tailwindcss';
@import '../../node_modules/@mdxeditor/editor/dist/style.css' layer(utilities);

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-success: hsl(var(--success));
  --color-spinner: hsl(var(--primary)) hsl(var(--primary)) transparent;
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --drop-shadow-q-editor-icon: 27px 5px 1px rgb(0 0 0 / 7.4);

  --animate-wiggle: wiggle 0.1s ease-in-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spinner: spinner 0.75s linear 0s infinite normal both running;
  --animate-fade-in: fadeIn 0.8s forwards ease-in-out;
  --animate-zoom-out-room: fadeOut 0.8s ease-in-out;
  --animate-zoom-in-room: fadeIn 0.8s ease-in-out;
  --animate-zoom-in-editor: zoomInEditor 0.75s ease-in-out;
  --animate-move-to-left: moveToLeft 0.6s ease both;
  --animate-scale-up: scaleUp 0.4s ease-out both;
  --animate-room-final: room-final 0.5s ease-out both;
  --animate-room-progress: room-progress 0.8s forwards ease-in;

  @keyframes wiggle {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.8);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes zoomInEditor {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes moveToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  @keyframes room-final {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes room-progress {
    from {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1284px) {
    max-width: 1284px;
  }
  @media (width >= 1675px) {
    max-width: 1675px;
  }
  @media (width >= 2000px) {
    max-width: 2000px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 204 16% 18%;
    --card: 210 9% 96%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 359 88% 37%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 240 9% 13%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 210 9% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --success: 168 67% 53%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 4 85% 31%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --success: 127 45% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .spinner {
    @apply w-[85px] h-[85px] rounded-full inline-block border-4 border-spinner animate-spinner
  }

  .page-spinner {
    @apply w-[200px] h-[200px] border-[10px]
  }

  .q-card{
    @apply transition-transform lg:hover:scale-105
  }

  section{
    @apply py-6 lg:py-12
  }

  h1.title{
    @apply mb-6 lg:mb-12 text-center text-4xl lg:text-5xl font-extrabold
  }

  .text-second{
    @apply text-gray-500 dark:text-gray-400 font-medium
  }
}

.q-editor-markdown h1 {
  font-size: 2.25em;
  font-weight: 800;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.q-editor-markdown h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.q-editor-markdown h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.q-editor-markdown ol {
  list-style: auto;
  padding-left: 1.625em
}
.q-editor-markdown ul {
  list-style: outside;
  padding-left: 1.625em
}
.q-editor-markdown li {
  padding-left: 0.625em
}
.q-editor-markdown a {
  text-decoration: underline;
  cursor: pointer
}
.q-editor-markdown blockquote {
  font-weight: 500;
  font-style: italic;
  border-left-width: 0.25rem;
  border-left-color: #e5e7eb;
  padding-left: 1em;
}
.q-editor-markdown code {
  background-color: hsl(210 16.7% 97.6%);
  color: hsl(322 75% 46%);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.mdxeditor-popup-container button {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
.q-editor-markdown, .mdxeditor-toolbar svg{
  color: hsl(var(--foreground));
}
.mdxeditor-toolbar {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
.mdxeditor-popup-container {
  display: none
}
.mdxeditor-popup-container:has(div) {
  display: block
}
